@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-paper text-stone-700 antialiased;
    font-family: 'Inter', sans-serif;
  }
  h1, h2, h3, h4, h5, h6 {
    @apply font-serif text-stone-900;
  }

  /* Scrollbar Styling */
  ::-webkit-scrollbar { @apply w-[6px]; }
  ::-webkit-scrollbar-track { @apply bg-transparent; }
  ::-webkit-scrollbar-thumb { @apply bg-stone-300 rounded-sm; }
  ::-webkit-scrollbar-thumb:hover { @apply bg-stone-400; }
}